<div class="bg-indigo-600 shadow-lg">
  <footer class="bg-white py-4">
    <div class="max-w-screen-xl mx-auto px-6 flex justify-between items-center"> <!-- Mismo ancho y padding que el nav -->
      <p class="text-gray-700 font-medium">© 2025 My Library App</p>
      <p class="text-gray-700 font-medium">Hecho con Express y MongoDB</p>
    </div>
  </footer>
</div>
