<div class="bg-indigo-600 shadow-lg">
  <nav class="bg-white">
    <div class="max-w-screen-xl flex justify-between items-center mx-auto p-6">
      <ul class="flex space-x-6">
        <li>
          <a href="/" class="text-indigo-600 hover:text-indigo-800 font-medium text-lg">
            Home
          </a>
        </li>
        <li>
          <a href="/biblioteca" class="text-gray-700 hover:text-indigo-600 font-medium text-lg">
            Libros
          </a>
        </li>
      </ul>
      <div>
        <a href="/biblioteca/new/book"
          class="bg-indigo-600 hover:bg-blue-600 text-white px-5 py-3 rounded-md font-medium text-lg">
          + Nuevo Libro
        </a>
      </div>
    </div>
  </nav>
</div>
