<div class="max-w-3xl mx-auto px-4 py-12 h-full">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Welcome to my library page</h1>
    <div class="flex justify-center h-[60vh]">
        <img
            src="/images/BS.jpeg"
            alt="Library Banner"
            class="rounded-lg shadow-sm border border-gray-200 object-contain w-auto h-full"
        >
    </div>
</div>
